<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SvaroChat</title>
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="/static/bootstrap/5.0.2/css/bootstrap.min.css">
  <!-- Link to Material Design Icons CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <!-- Add your custom styles here -->
  <% if (loggedIn) { %>
    <style>
      /* Custom styles for better message display */
      .message,
      .message-right {
        max-width: 70%;
        /* Adjust the percentage as needed */
        margin-bottom: 10px;
        /* Optional: Add margin between messages */
      }

      .message-text {
        padding: 10px;
        /* Add padding for spacing */
        border-radius: 10px;
        /* Optional: Add rounded corners */
        white-space: pre-line; /* Preserve newlines and spaces */
      }

      .message .user,
      .message-right .user {
        font-weight: bold;
        color: #071d35;
        /* Blue color for user names */
      }

      .message {
        margin-right: auto;
        /* Align to the left */

      }

      .message-right {
        text-align: right;
        margin-left: auto;
        /* Align to the right */
      }

      #chat {
        max-height: calc(100vh - 350px); /* Adjust the value based on your navbar and button height */
        overflow-y: auto;
      }

      #toastContainer {
        z-index: 1000; /* Set a higher z-index value */
      }
    </style>
    <% } %>
</head>

<body>
  <!-- Navbar -->
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SvaroChat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><span class="material-icons fs-5 align-middle">forum</span> Chats</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <% if (loggedIn) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons fs-5 align-middle">person</span> <%= user.FirstName + ' ' + user.LastName %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profile"><span class="material-icons fs-5 align-middle">person</span> Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout"><span class="material-icons fs-5 align-middle">logout</span> Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/login"><span class="material-icons fs-5 align-middle">login</span> Login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>


  <!-- Main content -->
  <div class="container-fluid">
    <% if (loggedIn) { %>
      <!-- Add a container for toast messages -->
      <div id="toastContainer" aria-live="polite" aria-atomic="true" style="position: absolute;"></div>
      
      <!-- New Chat Input Dialog Modal -->
      <div class="modal fade" id="inputDialogNewChat" tabindex="-1" aria-labelledby="inputDialogLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="inputDialogLabel">Create new chat</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" id="userInputNewChat" placeholder="Chat name">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="createNewChat">Create</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add user to chat Input Dialog Modal -->
      <div class="modal fade" id="inputDialogAddUserToChat" tabindex="-1" aria-labelledby="inputDialog2Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="inputDialog2Label">Add user to this chat</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" id="userInputAddUserToChat" placeholder="Username">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="addUserToChat">Add</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Remove user from chat Input Dialog Modal -->
      <div class="modal fade" id="inputDialogRemoveUserFromChat" tabindex="-1" aria-labelledby="inputDialog3Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="inputDialog3Label">Remove user from this chat</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" role="alert"><strong>Warning!</strong> This action is not reversible.</div>
              <input type="text" class="form-control" id="userInputRemoveUserFromChat" disabled>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" id="removeUserFromChat">Remove</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Left column for the list, hide for small screens -->
        <% if (currentChat) { %>
        <div class="col-md-3 d-none d-md-block">
          <% } else { %>
            <div class="col-md-3">
          <% } %>
          <h4>My chats</h4>
          <div class="btn-group" role="group">
            <button id="callModalCreateNewChat" class="btn btn-secondary btn-sm">New chat <span class="material-icons fs-5 align-middle">add_comment</span></button>
            <!-- Use a dropdown for small screens -->
            <div class="dropdown d-md-none">
              <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="chatListDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                Select a chat
              </button>
              <ul class="dropdown-menu" id="chatListDropdown" aria-labelledby="chatListDropdownButton">
                <% if (chats) {
                  for (const chat of chats) { %>
                <li><a class="dropdown-item" href="?chatId=<%= chat.Id %>"><%= chat.Title %></a></li>
                <% }
                } %>
                <!-- Add more users as needed -->
              </ul>
            </div>
          </div>
          <!-- Use a list for larger screens -->
          <ul class="list-group d-none d-md-block" id="chatList">
            <% if (chats) {
            for (const chat of chats) { %>
            <li class="list-group-item">
              <a href="?chatId=<%= chat.Id %>" class="user-link">
                <%= chat.Title %>
                <span class="badge bg-primary float-end">?</span>
              </a>
            </li>
              <% }
            } %>
            <!-- Add more users as needed -->
          </ul>
        </div>

        <!-- Right column for the chat -->
        <div class="col-md-9">
          <% if (currentChat) { %>
          <h4>Chat: <strong><%= currentChat.Info.Title %></strong></h4>
          <div class="btn-group" role="group">
            <button id="callModalAddUserToChat" class="btn btn-secondary btn-sm">Add user <span class="material-icons fs-5 align-middle">person_add</span></button>
            <div class="btn-group" role="group">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuMembers" data-bs-toggle="dropdown" aria-expanded="false">
                Members <span class="material-icons fs-5 align-middle">people</span>
              </button>
              <ul class="dropdown-menu" id="memberListDropdown" aria-labelledby="dropdownMenuMembers">
                <% for (const member of currentChat.Members) {
                  if (member.Username != user.Username) { %>
                <li><a class="dropdown-item" href="#"><%- member.IsAdmin[0] == 1 ? '<span class="material-icons fs-3 align-middle">star</span> ' : '' %><%= member.Firstname %> <%= member.Lastname %> (<%= member.Username %>) <span data-username="<%= member.Username %>" class="chatRemoveMember badge bg-danger"><span class="material-icons fs-9 align-middle">person_off</span></span></a></li>
                <% }
              } %>
              </ul>
            </div>
          </div>
          <div id="chat" class="mt-5" data-chat-id="<%= currentChat.Info.Id %>">
            <% if (messages) { %>
            <% for (const message of messages) { 
              // Current user's own message
                if (message.Username == user.Username) { %>
              <div class="message-right">
                <% } else { %>
                  <div class="message">
                <% }
                const data = JSON.parse(message.Data); %>
                      <span class="user"><%= message.Username %></span><br>
                      <div class="message-text <%= message.Username == user.Username ? 'bg-primary' : 'bg-light' %>"><%= data.text %><br></div>
                      <span class="badge bg-secondary, text-dark"><%= new Date(message.Sent).toLocaleDateString('en-GB', {day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'}); %></span>
                  </div>
            <% } %>
              <% } else { %>
                  <p>No messages yet.</p>
                 <% } %>
            </div>

          <!-- Message input and send button -->
          <div class="input-group mt-3">
            <textarea id="message" type="text" class="form-control" placeholder="Message text"></textarea>
            <div class="input-group-append">
              <button id="send" class="btn btn-primary"><span class="material-icons align-middle">send</span></button>
            </div>
          </div>
        </div>
         <% } else { %>
          <h4>No chat selected</h4>
          <div id="chat" style="display: none;">
              <input id="message" type="text">
              <button id="send" class="btn btn-primary"></button>
              <button id="callModalAddUserToChat"></button>
          </div>
         <% } %>
      </div>
      <% } else { %>
        <div>
          <div class="alert alert-warning" role="alert">
            <strong><span class="material-icons align-middle">warning_amber</span></strong> You need to be logged in to use this chat app.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <% } %>
  </div>

<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container">
    <span class="text-muted">&copy; Jan Svárovský 2024 | <a href="https://github.com/svaroslav/svarochat"><span class="material-icons fs-5 align-middle">code</span></a> | Version: <%= appInfo.version %><% if (loggedIn) { %> | <span class="badge bg-secondary"><span id="wsstatus" class="material-icons fs-5 align-middle">cloud_off</span></span><% } %></span>
  </div>
</footer>

  <!-- Bootstrap JS and custom scripts -->
  <script src="/static/jquery/3.7.1/jquery.min.js"></script>
  <script src="/static/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
  <% if (loggedIn) { %>
    <script src="ws_client.js"></script>
    <% } %>
</body>

</html>